/* Container styling */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Quiz card styling */
.quiz-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.quiz-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.quiz-actions button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.quiz-actions button:hover {
  background-color: rgba(255, 0, 0, 0.439);
  transform: translateY(-1px);
}

/* Input container styling */
.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.input-container input,
.input-container select,
.input-container textarea {
  width: calc(100% - 22px); /* Adjusted to accommodate padding and border */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.input-container input[type="text"],
.input-container input[type="password"],
.input-container select,
.input-container textarea {
  margin-top: 5px;
}

/* Button styling */
.btn-save,
.btn-add {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #2e3237;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-add {
  background-color: #33b01d;
  margin-right: 5px;
}

.btn-save:hover,
.btn-add:hover {
  background-color: #0056b3;
  transform: translateY(-1px);
}

/* Pagination styling */
.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 10px 15px;
  color: #007bff;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}

.page-item.active .page-link {
  background-color: darkred;
  color: #fff;
  border: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .heading {
    font-size: 1.5rem;
  }

  .quiz-card {
    padding: 10px;
  }

  .quiz-title {
    font-size: 1.2rem;
  }

  .quiz-actions button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .btn-save,
  .btn-add {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.2rem;
  }

  .quiz-title {
    font-size: 1rem;
  }

  .quiz-actions button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .btn-save,
  .btn-add {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .input-container input,
  .input-container select,
  .input-container textarea {
    font-size: 0.9rem;
    padding: 8px;
  }
}
