/* Footer */
.footer {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; /* Adjust padding for content within the footer */
  }
  

/* Responsive Adjustments */
@media (max-width: 600px) {
    .footer-content {
      font-size: 14px;
    }
  }